@use "fonts.scss" as *;
@use "colors.scss" as *;
@use "mixins.scss" as *;

#shopping-cart{

    article{
        width: 100%;
    }

    a{
        padding: 0;
        color: $black;
        text-decoration: none;
    }

    h4{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    p{
        margin: 0;
    }
}

#delivery-info{
    input{
        width: 100%;
    }
}

#delivery-choice{
    label{
        font-size: 150%;
        padding: 0.25rem;
        display: inline-block;
        width: 100%;
    }
}

#payment-info{
    form{
        @include flexbox(column, wrap, 0.5rem);

        input{
            width: 100%;
        }

        h4, h5{
            margin: 0;
            width: 100%;
            text-align: center;
        }

        #price{
            padding: 0.25rem;
            font-size: 200%;
            font-weight: 700;
        }

        #buy-button{
            @include box($black, $brandColor, $brandColor);
            font-size: 200%;
            text-align: center;
        }

        .checkbox{
            text-align: center;

            input{
                width: auto;
            }
        }

    }
}

