@use "fonts.scss" as *;
@use "colors.scss" as *;
@use "mixins.scss" as *;

h1{
    margin: none;
}

header{
    
    background-color: $brandColor;

    nav{
        @include flexbox(column, nowrap, 1rem);
        justify-content: space-between;
        align-items: center;
        ul{
            list-style: none;
            padding: 0;
        }
    }

    a{
        color: $black;
        text-decoration: none;
    }
}

#main-menu{
    @include flexbox(auto, nowrap, 1rem);
}