@mixin flexbox($direction, $wrap, $gap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin box($width, $height, $pad, $bradius){
    width: 100%;
    max-width: $width;
    height: $height;
    padding: $pad;
    border-radius: $bradius;
}

@mixin button($textColor, $buttonColor, $borderColor){
    color: $textColor;
    background-color: $buttonColor;
    margin: 1rem;
    display: inline-block;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: $borderColor;
    border-radius: 25px;
}